body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 span {
    color: orange;
}

p {
    text-align: justify;
}

.topbanner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.halfwidth {
    width: 50%;
    padding-left: 10%;
}

.halfwidth img {
    width: 50%;
}

.button {
    background-color: orange;
    padding: 10px 40px;
    border-radius: 2px;
    text-decoration: none;
}


.sechalf {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.halftwo {
    width: 50%;
    padding: 5%;
}

.halftwo img {
    width: 70%;
}

.button2 {
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}